VITE_API_URL=http://localhost:5000/api
VITE_SUPABASE_URL=https://egkgxwfcljmeienwcjpv.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVna2d4d2ZjbGptZWllbndjanB2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM5MDc0ODcsImV4cCI6MjA4OTQ4MzQ4N30.Z8iEoBz5XnUYPdP7VzMi0U_WUgPoxcQXuqI4qEiIF7c